<header role="banner" style="padding: 0 5%; background-color: #000;" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     
            <button class="btn btn-outline-info" *ngIf="currentLanguage == 'ar'" (click)="Translate('en')" style="color :white; background-color: #000;font-size: 14px;" >
              English
                      </button>
  
            <button class="btn btn-outline-info" *ngIf="currentLanguage == 'en'" (click)="Translate('ar')" style="color :white;background-color: #000;font-size: 14px" >
              عربي
           </button>
  
         
    </nav>
    
  </header>