<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
    
        <ul class="nav nav-tabs"> 
            <div class="btns" > 
                <button (click)="changeScreen(0)" >{{'Developer'| translate}}</button>
                <button (click)="changeScreen(1)">{{'contact us'| translate}}</button>
            </div>
              </ul>
       
    <div *ngIf="screen">
        <div>
        <ion-card class="info">

            <ion-card-title class="title">
             {{appInfo[1]?.name}}
            </ion-card-title>
            <ion-card-subtitle>
                    {{appInfo[1]?.content}}
           </ion-card-subtitle>
        </ion-card>
    </div>
    <div class="container ">
        
        <div class="contact">

            <ion-card class="card">
                    <h2>
                            {{'Share App'| translate}}
                    </h2>
                    <ion-icon class="face" name="logo-facebook"></ion-icon>
                    <ion-icon name="logo-linkedin" style="color:#0C89BF"></ion-icon>
                    <ion-icon name="logo-twitter" style="color:#0CA6BF"></ion-icon>
                    <ion-icon name="logo-whatsapp" style="color:#0CBF59"></ion-icon>
                    <ion-icon name="mail" style="color:#085193"></ion-icon>
                </ion-card>
        </div>
        <form [formGroup]="contactForm">
                <div class="parent">
                        <br>
                        <ion-label>{{'name'| translate}}</ion-label>
                        <br>
                        <br>
                        <ion-item lines="none">
                          <ion-input formControlName="name" type="text">
                          </ion-input>
                        </ion-item>

                        
                        <ion-label>{{'Email'| translate}}</ion-label>
                        <br>
                        <br>
                        <ion-item lines="none">
                                <ion-input formControlName="email" type="mail">
                                 
                                </ion-input>
                               
                        </ion-item>
                        
                        <ion-label>{{'phone'| translate}}</ion-label>
                        <br>
                        <br>
                        <ion-item lines="none">
                                <ion-input formControlName="phone" type="number">
                                  
                                </ion-input>
                     </ion-item>
                    
                    
                     <ion-label>{{'message'| translate}}</ion-label>
                     <br>
                     <br>
                     <ion-item lines="none">
                            <ion-input formControlName="content" type="text">
                              
                            </ion-input>
                    </ion-item>
                  
                    
                        <ion-button class="login" (click)="submit()"> <strong>{{'submit'| translate}}</strong></ion-button>
                      </div>
        </form>
        
    </div>

    </div>

    <div *ngIf="!screen">
            <div>
                    <ion-card class="info">
            
                        <ion-card-title class="title">
                                {{appInfo[0].name}}
                        </ion-card-title>
                        <ion-card-subtitle>
                                {{appInfo[0].content}}
                        </ion-card-subtitle>
                    </ion-card>
                </div>
                <div class="container ">
                    
                    <div class="contact">
                        <ion-card class="card">
                            <h2>
                                    {{'social media'| translate}}
                            </h2>
                            <ion-icon class="face" name="logo-facebook"></ion-icon>
                            <ion-icon name="logo-linkedin" style="color:#0C89BF"></ion-icon>
                            <ion-icon name="logo-twitter" style="color:#0CA6BF"></ion-icon>
                            <ion-icon name="logo-whatsapp" style="color:#0CBF59"></ion-icon>
                            <ion-icon name="mail" style="color:#085193"></ion-icon>
                        </ion-card>
                    </div>
                    
                    

                </div>
               
    </div>
</ion-content>