<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
    <div>
        <ion-card class="info">

            <ion-card-title class="title">
             Map Appliction
            </ion-card-title>
            <ion-card-subtitle>
                    apps stand out among the others, boost visibility, improve conversion rate and increase the number of installs.
            </ion-card-subtitle>
        </ion-card>
    </div>
    <div class="container ">
        
        <div class="contact">
            <ion-card class="card">
                <h2>
                contact us on social media
                </h2>
                <ion-icon class="face" name="logo-facebook"></ion-icon>
                <ion-icon name="logo-linkedin" style="color:#0C89BF"></ion-icon>
                <ion-icon name="logo-twitter" style="color:#0CA6BF"></ion-icon>
                <ion-icon name="logo-whatsapp" style="color:#0CBF59"></ion-icon>
                <ion-icon name="mail" style="color:#085193"></ion-icon>
            </ion-card>
        </div>

       
    </div>
</ion-content>