ion-content{
  --background: linear-gradient(to bottom, #181818, #181818)0% 0%/100% 30% no-repeat ,white 0% 100%/100% 50% no-repeat;
  
}

.card{
  // height: 60px;
  width: 70%;
  margin: auto;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #ECEAEA;
  margin-top: 20px;
  border-radius: 5%;
  background: transparent;
  padding: 10px;
  
}
.firstDiv{
  margin-top: 10%;
  background: transparent;
  }
ion-icon {
  margin-left: 5px;
  color: #0C6BBF ;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
h2{
  text-align: left !important;
  font-size: 17px;
  margin-left: 5px;
  text-transform: capitalize
}

.info ,{
  
  background: #272727;
  color: white;
  width: 80%;
  //height: 150px;
  margin: auto;
  margin-top: 20%;
}
.title , ion-card-subtitle{
  color: white;
  
  margin-left:10px;
  margin: 5%;
  font-style:bold;
  font-size:  30px;
}
ion-card-subtitle{
  font-style:normal;
  font-size:  15px
}
button{
  // margin: 15px;
  // margin-left: 30%;
  // margin-right: 30%;
  background: #454444;
  padding: 8px;
  color: white;
}
.btns{
  display: flex; 
  width:100%;
   margin-left:20%;
    margin-right: 20%;
}
hr {
  
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 90%;
}
.parent{
  
  background:white;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    border-radius: 10px;
   // box-shadow: 0px 7px#ADADAD;
   
}
h1{
    text-align: center;
}
.icon{
  width: 15px;
  height:20px;
  position: absolute;
  left: 1%;
  
  color: #FFFFFF;
  background:  linear-gradient(to bottom, #000307, #0d0f11);  
  background-size:20px 20px 20px 20px;
  background-repeat: no-repeat;
  border-radius: 40%;
  padding: 3px;
  display: none;
  
  }
  input,ion-input{
      background: transparent;
      color: #000000;
      padding: 40px;
      font-size: 15px;
      width: 85%;
      height: 35px;
      text-align:left;
      margin: 0 auto;
      margin-bottom: 10px;
      margin-top: 0px;
      border: 1px solid #ccc;
      // border-radius: 10%;
      
  }
  ion-label{
      font-size: 15px;
      color: #123457;
      margin-left:  10px;
      margin-right: 10px;
  }
  .login{
      margin-top: 10px;
      text-align: center;
      color: #fff;
      --background: linear-gradient(to left, #123457, #345679);  
      border-radius: 20px;
      border: 1px solid ;
      display: inline-block;
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
      height: 35px;
      font-size: 15px;
  }
.title{
  text-align: center;
  
}