<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
      <ion-card-content>
         <h1> app is very east to use</h1>
        </ion-card-content>
<div class="contact">
  <h2>
   contact us on social media:
  </h2>
  <ion-icon class="face" name="logo-facebook" ></ion-icon>
   <ion-icon name="logo-linkedin" style="color:#0C89BF"></ion-icon>
   <ion-icon name="logo-twitter" style="color:#0CA6BF"></ion-icon>
   <ion-icon name="logo-whatsapp" style="color:#0CBF59"></ion-icon>
   <ion-icon name="mail" style="color:#085193"></ion-icon>

</div>

<div class="share">
    <h2>
        share App:
    </h2>
    <ion-icon class="face" name="logo-facebook" ></ion-icon>
     <ion-icon name="logo-linkedin" style="color:#0C89BF"></ion-icon>
     <ion-icon name="logo-twitter" style="color:#0CA6BF"></ion-icon>
     <ion-icon name="logo-whatsapp" style="color:#0CBF59"></ion-icon>
     <ion-icon name="mail" style="color:#085193"></ion-icon>
  </div>
  </div>
</ion-content>