ion-content{
  --background: linear-gradient(to bottom, #181818, #181818)0% 0%/100% 30% no-repeat ,white 0% 100%/100% 50% no-repeat;
  
}
ion-card{
  // --background:url('https://icdn6.digitaltrends.com/image/digitaltrends/hp-omen-x-2s-hero-382x238-c.jpg') 0 0/100% 100% no-repeat;
 // height: 60%;
  width: 90%;
  color: white;
  margin: auto;
  margin-top: 20px;
}
ion-card-header{
  //margin-top: 67px;
background: #FFFFFF;
color: black;

}
button{
 
  background: #454444;
  padding: 8px;
  color: white
}
.btns{
  display: flex; 
  width:100%;
   margin-left:24%;
    margin-right: 24%;
} 
ion-card-title{
  padding: 3px;
  font-size: 15px;

}
img{
  width: 27px;
  height: 27px;
  margin-right: 7px;
}
ion-card-content{
  color: black;
  font-size: 15px;
  margin-bottom: 5px;  
  text-align: center;
  
  
}