<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
    <ul class="nav nav-tabs">
        <div class="btns" >
            <button (click)="changeScreen(0)" >{{'App use'|translate}}</button>
            <button (click)="changeScreen(1)">{{'Blog'|translate}}</button>
        </div>
          </ul>

  <div class="appUse" *ngIf="screen">
  <ion-card *ngFor="let post of posts">
    <ion-card-content>
     {{post.content}}
    </ion-card-content>
    <ion-card-header>
        
        <ion-card-title>
            <img src="{{img}}">
            
            {{post.name}}</ion-card-title>
      </ion-card-header>
    
   
  </ion-card>  
  <!-- <ion-card>
      <ion-card-content>
        iThe articles in English grammar are the and a/an, and in certain contexts some. "An" and "a" are modern forms of the Old English "an", which in Anglian dialects was the number "one" (compare "on" in Saxon dialects)
      </ion-card-content>
      <ion-card-header>
          
          <ion-card-title>
              <img src="https://getdrawings.com/free-icon/icon-for-man-70.png">
            mobile developer</ion-card-title>
        </ion-card-header>
      
     
    </ion-card>   -->

    
  </div>
  <div class="Blog" *ngIf="!screen">
    
    <h1>{{'App use'|translate}}</h1>
  </div>
</ion-content>