<ion-header>
<app-header></app-header>
</ion-header>

<ion-content>
  <div>
  
    <img src="https://www.kindpng.com/picc/m/78-785827_user-profile-avatar-login-account-male-user-icon.png">
    <ion-card-content>
      <h1>{{user?.firstName}} {{user?.lastName}}</h1>
        <h5> {{gender}}</h5>
      </ion-card-content>
   
<div class="cont" >
  <ion-card>
    
    
    <ion-card-title>
        <ion-icon name="briefcase"></ion-icon>
      {{user?.address}}</ion-card-title>
  </ion-card>
  
   
  <ion-card>
      <ion-card-title>
          <ion-icon name="bicycle"></ion-icon>
          
          {{user?.workAddress}}</ion-card-title>
    </ion-card>
</div>


   
<ion-card>
    <ion-card-title [style.backgroundColor]="user?.color?.colorName" style="height: 35px;" >
        
        <!-- {{user?.color?.colorName}} -->
    </ion-card-title>
  </ion-card>




      
    
  </div>
</ion-content>