<ion-header>
<app-header></app-header>
</ion-header>

<ion-content>
  <div>
  
    <img src="{{img}}">
    <ion-card-content>
      <h1>{{user.firstName}} {{user.lastName}}</h1>
        <h5>22, {{gender}}</h5>
      </ion-card-content>
   
<ion-card>
    
    
  <ion-card-title>
      <ion-icon name="briefcase"></ion-icon>
    {{user.address}}</ion-card-title>
</ion-card>

 
<ion-card>
    <ion-card-title>
        <ion-icon name="bicycle" style="font-size: 27px"></ion-icon>
        
        {{user.email}}</ion-card-title>
  </ion-card>


   
<ion-card>
    <ion-card-title>
        <ion-icon name="car" style="font-size: 27px"></ion-icon>
        
        {{user.color?.colorName}}
    </ion-card-title>
  </ion-card>





      
    <!-- <ion-grid>
      <ion-row>

        <ion-col>
          <div>

            <ion-card-title class="stat">
              status fit
            </ion-card-title>

          </div>

        </ion-col>


        <ion-col>
          <div>

            <ion-card-title>
              <p>name: Alwaleed</p>
              <p> age: 22</p>
              <p> sex: Male</p>
            </ion-card-title>
          </div>
        </ion-col>

      </ion-row>

      <ion-row>

          <ion-col>
              <div>
    
                <ion-card-title class="stat">
                 home map
                </ion-card-title>
    
              </div>
    
            </ion-col>

            <ion-col>
                <div>
      
                  <ion-card-title class="stat">
                   workplace map
                  </ion-card-title>
      
                </div>
      
              </ion-col>
      </ion-row>

    </ion-grid> -->
  </div>
</ion-content>