ion-content{
    --background: linear-gradient(to bottom, #000307, #0d0f11)0% 0%/100% 40% no-repeat ,white 0% 100%/100% 50% no-repeat;
    
} 
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
   width: 150px;
   padding: 10px 20px;
  border-radius: 50%;
  margin-bottom: -40px 
}
ion-card-content{
    text-align: center;
    color: wheat;
    margin: 15px;
}
.parent{
    
    background:white;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      max-height: 95%;
      border-radius: 10px;
     // box-shadow: 0px 7px#ADADAD;
     
  }
  h1{
      text-align: center;
  }
  .icon{
    width: 15px;
    height:20px;
    position: absolute;
    left: 1%;
    
    color: #FFFFFF;
    background:  linear-gradient(to bottom, #000307, #0d0f11);  
    background-size:20px 20px 20px 20px;
    background-repeat: no-repeat;
    border-radius: 40%;
    padding: 3px;
    display: none;
    
    }
    input,ion-input{
        background: transparent;
        color: #000000;
        padding: 40px;
        font-size: 15px;
        width: 85%;
        height: 35px;
        text-align:left;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 0px;
        border: 1px solid #ccc;
        // border-radius: 10%;
        
    }
    ion-label{
        font-size: 15px;
        color: #123457;
        margin-left:  10px;
        margin-right: 10px;
    }
    .login{
        margin-top: 10px;
        text-align: center;
        color: #fff;
        --background: linear-gradient(to left, #123457, #345679);  
        border-radius: 20px;
        border: 1px solid ;
        display: inline-block;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: 35px;
        font-size: 15px;
    }