<ion-content>
  
  
  
    <ion-card-content>
      Register Form
      <ion-icon name="create" slot="create"></ion-icon>
    </ion-card-content>
    <div class="parent">
      <br>
      <h1>User Profile</h1>
      <br>
      <ion-label>User Name</ion-label>
      <br>
      <br>
      <ion-item lines="none">
        <ion-input type="text" placeholder="       Enter User Name">
          <ion-icon class="icon" name="person"></ion-icon>
        </ion-input>
      </ion-item>
  
      <ion-label>Email</ion-label>
      <br>
      <br>
      <ion-item lines="none">
        <ion-input type="mail" placeholder="       Enter Email">
          <ion-icon class="icon" name="mail"></ion-icon>
        </ion-input>
      </ion-item>
  
  
      <ion-label>Mobile Number</ion-label>
      <br>
      <br>
      <ion-item lines="none">
        <ion-input type="number" placeholder="       Enter Phone Number">
          <ion-icon class="icon" name="phone-portrait"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-label>Data Of Birth</ion-label>
      <br>
      <br>
      <ion-item lines="none">
        <ion-input type="number" placeholder="       DD/MM/YYYY">
          <ion-icon class="icon" name="calendar"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-label>Choose image profile</ion-label>
      <br>
      <br>
      <ion-item lines="none">
        <ion-input type="file" placeholder="       DD/MM/YYYY">
          
        </ion-input>
      </ion-item>
      <ion-button class="login"> <strong> Create Account</strong></ion-button>
    </div>
  </ion-content>